* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.login {
    display: flex;
    float: left;
}

.form-login {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-right: 200px;
}

.user-login > input {
    width: 350px;
    height: 45px;
    font-size: 16px;
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
    
}

.link {
    padding-left: 10px;
}

.form-login > h1 {
    padding: 5px;
    margin: 10px;
    font-size: 2.5em;
}

.button-login > button {
    background-color: #aecbec;
    padding: 2px;
    margin: 4px;
    font-size: 18px;
    color: rgb(27, 27, 27);
    border-radius: 20px;
    height: 45px;
    width: 350px;
    align-items: center;    
}

.button-login > button:hover {
    background-color: #79c7ff;
    cursor: pointer;
}

.img > img {
   width: 350px;
   padding-top: 50px;
}